<h3>{{id}}</h3>

<p>{{link-to 'Edit' 'locations.edit' this}} <button {{action destroyRecord this}}>Destroy</button></p>

<ul>
  <li>Space: {{space_id}}</li>
  <li>Address: {{address}}</li>
  <li>Longitude: {{longitude}}</li>
  <li>Latitude: {{latitude}}</li>
</ul>
