<h3>{{id}}</h3>

<p>{{link-to 'Edit' 'spaces.edit' this}} <button {{action destroyRecord this}}>Destroy</button></p>

<ul>
  <li>Title: {{title}}</li>
  <li>Description: {{description}}</li>
  <li>Published At: {{published_at}}</li>
  <li>Intro: {{intro}}</li>
  <li>Extended: {{extended}}</li>
</ul>
